@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Skranji&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navbar {
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: "Skranji", cursive;
}

.App {
  height: 130vh;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.Score-card {
  color: white;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 15px;
  font-family: "Press Start 2P", cursive;
  background-color: rgba(10, 10, 10, 0.35);
}

.cards {
  color: whitesmoke;
}
